<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top border-bottom">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <i class="bi bi-shield-check text-primary"></i> AntiProxy
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <% if (locals.teacher) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/teachers/profile">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/teachers/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/teachers/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-custom ms-2" href="/teachers/register">Get Started</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav> 